/* Mediaqueries breakpoints */
$screen-mini: 320px;
$screen-xs: 480px;
$screen-smallPad:600px;
$screen-maxPhone: 736px;
$screen-iPhone5:568px;
$screen-sm: 768px;
$screen-pad: 800px;
$screen-md: 992px;
$screen-pad-landscape: 1024px;
$screen-lg: 1200px;
$screen-wide: 1440px;

/* Helper Classes */
