/*** BSP: @extend %reset;***/
%clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%reset{
    margin:0 !important;
    padding:0 !important;
    border:0 !important;
}
%divider{
    padding: 0 .5em;
    border-right: 1px solid currentColor;
}
%text-indent {
    text-indent:-9999px;
    display:block;
    overflow:hidden;
}