/* Margins & Paddings */
$global-margin:     20px;
$outer-grid:2em;
$vertical-spacing:2em;

/*** Fixed Font-Sizes ***/
$font-small:12px;
$font-normal:14px;
$font-larger:16px;
$font-large:18px;


/* Colors */
$foo:red;
$text-color:#333;
$bg-color:#F2F2F2;
$bg-panel:#e5e5e4;
$bd-panel: #D9D9D9;


$white: #fff;
$bg-inverse: #000;


$brand-primary:#2466a8;
$brand-secondary: #4385c8;
$brand-complementary: #fcf8e3;
$brand-success:#21A356;



$brand-info:#7EA0C5;
$brand-warning:#fcf8e3;
$brand-danger:#DB221C;
$body-bg:#fff;
$text-color:#333;
$light-text-color:#999;
$light-gray:#ccc;
$dark-gray:#e5e5e4;
$link-color:$brand-primary;
$border-color:$light-gray;


/** Heights & Widths **/
$logoImgHeight:135px;
$bannerHeight:200px;
$carouselHeight:398px;
$containerWidth:1170px;
$contactImgHeight:115px;

