/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}


.btn{
    @include button-style (10px,.7em 1em, 1em );

    @media screen and (max-width:$screen-xs){
        .row.submit & {
            margin-bottom:1em;
        }
    }

    &:hover, &:focus {
        color:#fff;
    }
    &.btn-inverse{
        background-color: $bg-inverse;
        color: $white;
        background-image: none;
        background-repeat: repeat-x;
        border-color: transparent;
        text-shadow: none;

        .button-group & {
            margin-right: 1em;
            color:#fff;
        }
    }
    &.btn-small {
        @include button-style (3px,5px 10px, 0.850em );
    }
    .box &{
        color: $white;
    }
    &[disabled] {opacity: 1;}

}

.iframe-elastic {
    position: relative;
    padding-bottom: 55%;
    padding-top: 15px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.no-display{
    display:none;
}
