 %bold{font-weight:600};/** depends on font-fammily**/
 /* =============================================================================
   Variables & Mixins
   ========================================================================== */
@mixin headline-style ($weight,$mg-top, $mg-bottom){
    font-family:$headings-font-family;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-weight:$weight;
    margin-top: $mg-top;
    margin-bottom: $mg-bottom;
    color:$foo;
}
@mixin post-headline-style{
    font-weight:bold;
    letter-spacing: .05em;
    margin-top:$vertical-spacing;
}
%main-headline-style-h3{
    font-size: 1.2em;
    font-weight:bold;
    
/*    @media screen and (min-device-width:$screen-lg){
        font-size: 1.43vW;
    }*/
    @media screen and (max-device-width:$screen-xs) and (orientation:portrait){
        font-size:1.2em;
    }
    line-height: 1.2;
    margin-top:1em;
    margin-bottom: 0.5em;
}
%sidebar-headline-style-h3{
    font-size: 1.286em;
    font-weight: 600;
    margin-top:0;
    text-transform: none;
}
@mixin main-menu($weight){
    font-family:$headings-font-family;
    text-transform: uppercase;
    font-weight:$weight;
}
/* =============================================================================
   Basics
   ========================================================================== */

html { font-size: 62.5%; -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto;}

html, body, button, input, select, textarea { 
    font-family:$body-font-family;
    color: $text-color; }

::-moz-selection { 
    text-shadow: none;
    @include active-style;
}
::selection { 
    text-shadow: none;
    @include active-style;
}
.element {
  @include selection(true) {
    background-color: #ffbb52;
  }
}
// body typography
body {
    text-rendering: optimizeLegibility;
    font-size:$rem-base;
    font-weight:400;
    line-height: $base-line-height;
}
a {
    &,&:link { 
        text-decoration: none;
        cursor:pointer;
    }

    &:visited{
        opacity:.5;
    }
    &:visited, &:hover { 
        text-decoration: none !important;
    }
    &.external:after{
        @include icon-style ("\f08e", 0, 1, .5em, .8em);
    }
            #comments &, .post-details &{
            color: $brand-secondary !important;
        }
}
h1,h2,h3,h4, legend, .number, .widgettitle{
    @include headline-style (400, 0, 1em);
    line-height: 1.1;
    color: $heading-text-color;
    &.logo{
        margin:2em 0 .5em 0;
    }
    a{
        text-decoration: none;
        color: $brand-primary;
    }
}

// different font-sizes
h1 {
    font-size:1.5 * $rem-base;
    line-height: 1;
    color: #000;
    @media screen and (max-width:$screen-xs){
        font-size:2em;
    }
    @media screen and (min-width:$screen-xs){
        font-size:2em;
        .content > &:first-child{
            margin-top:2*$vertical-spacing;
            font-size: 1.2em;
            padding: 0 $outer-grid;
            font-weight:bold;
        }
    }
}

h2 {
    font-size:2 * $rem-base;
    line-height: 1.2;
    @include post-headline-style;
    @include header-subline;
}

h3 {
    @extend %main-headline-style-h3;
}

h1, h2, h3 {
    a{
        &:hover{
            text-decoration:none;
            cursor:pointer;
        }
    }
}

h4,.h4,h5,.h5,h6,.h6 {
    font-size: 1.2em;
}

legend {
    border{
        width:1px 0 0 0;
        style:solid;
        color:$border-color;
        margin-top:1em;
    }
}


// paragraph text
p {
    margin: 0 0 $paragraph-margin;
    font-family: inherit;
    font-size: $rem-base;
    font-weight: normal;
    line-height: $base-line-height;
}

a{

    color:$brand-primary;
    &.post-edit-link{
        .page-template-template-maintenance &{
            margin-top:10vH;
            display:block;  
        }

        &:before{
            @include icon-style ("\f040", 1em, 1, 0, 1em);
        }
    }
}
// lists
ul,
ol {
    padding-left: 1.5rem;

    li {
        line-height: $base-line-height;
    }
}
ul {

}

dl {
    margin: 0 0 $paragraph-margin;
    line-height: $base-line-height;
}

dt {
    font-weight: bold;
    /** oder **/
    @extend %bold;
}

dd {
    margin: 0 0 0.5rem;
}

b,.bold, strong{
    font-weight:bold
}
p{
    font-size: 1em;
}
// blockquotes
blockquote {
    position: relative;
    margin: 1.5rem 1rem 1.5rem 3rem;
    text-align: left;

    p {
        @extend .lead;
    }

    &:before {
        content: "“";
        display: block;
        position: absolute;
        top: -1rem;
        left: -3rem;
        color: $text-muted-color;
        font-size: 5rem;
        line-height: 1;
    }
}
address{
    font-style: normal;
    .footer & {
        
        p{
            margin-bottom: $paragraph-margin * 0.2;
            font-size: .8rem;
        }
        > div {
            margin-bottom: $paragraph-margin * 0.5
        }
    }
}
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-muted { color: $text-muted-color; }
.text-smaller {font-size: smaller;}
.uppercase{
    text-transform:uppercase;
}

/*** tables ****/
table {
    width:100%;
    margin-bottom:2em;
    th{
        text-align:left;
        font-size:larger;
    }
    tr:nth-child(odd) td{background:(lighten($light-gray,12%));}
}
/**** Misc ***/
.screen-reader-text{
	clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* Kleinerer Text */
.s {
    font-size: 0.9em;
}
.lead {
    @media screen and (min-width: $screen-xs) {
        font-size:1.143em;
        font-weight:inherit;
        line-height:inherit;
        margin-bottom: 1.857em;

        article.banner &, .banner-caption &{
            margin-bottom: 1em;
        }
        .panel &{font-size: 1em;}
    }
}