.events{
    margin-top:2em;
}

table.tablepress{
	border-collapse: collapse;
	
	thead th, tfoot th{
	    background: transparent !important;
	    font-weight: 500 !important;
	}
	
	th,td {
	    vertical-align: middle;
            width:1%;
	}
	th {
	    font-size: 1.1em;
	}
	
	td {
	    font-size: .9em;
	    padding: .5em 1em;
	    border: 1px solid $mainBg;
	    text-align: center;
	    &.table-headline {
	        font-size: larger;
	        text-align: left;
	        line-height: 2;
	        padding-top: $vertical-spacing;
	        
	        &, &:hover{
	        background: transparent !important;
	        color:$text-color !important;
	        }
	    }
	}
	
	tr:nth-child(odd) td {
	    background: $brand-info;
	    color: #fff;
	}
	
	tr:nth-child(even) td {
	    @include alpha-background-color(rgba($brand-primary,0.35), white);
	    color:white;
	}
	
	tr td:last-child {
	    min-width: 150px;
	    text-align: left;
	}
	
	tr:hover td {
	    background-color: $brand-primary !important;
	    color: #fff !important;
	}
        tr.transparent td {
            background-color: transparent !important;
            color: $text-color !important;
        }
        /*
tr.transparent>td, td.table-headline, tr.transparent:hover>td, td.table-headline:hover, .tablepress tfoot th, .tablepress thead th, .tablepress .row-hover tr:hover td
*/
	
	
	.event-cat {
		border: 1px solid $foo;
		text-align: left;
			li {
			    list-style: none outside;
			    text-align: left;
			}
		}
	
	.event-links [class*="span"] span{
		border: 1px solid $foo;
		cursor: pointer;
		&.active {
	        font-weight: bold;
	
	        i{
	            @include rotate(90);
	            padding-top: .5em;
	        }
	    }
	}
	
	 article > div{
        height: 0;
        overflow: hidden;
        @include transition (height, .2s, ease-out);

        &.slide{
            height:280px;
            @include transition (height, .2s, ease-in);
        }
    }
}
