nav{
    body > & > ul{
        @include wrapper;
        @include display(flex);
        @include justify-content(center);
        margin:$vertical-spacing auto;
    }
}
.menu-item{
   list-style: none;
   position:relative;
   display:inline-block;
   @include main-menu(400);
   .sub-menu & {
       border-bottom:1px solid $brand-secondary;
       padding:1.5rem 0;
       line-height:1.2;
       text-transform:none;
       white-space:nowrap;
       &:after{
           display:none;
       }
       &:last-child{border:0;}
       > a {color:lighten($text-color,90%);}
   }
   &:after {
       content: "/";
       font-weight:bold;
       color:$brand-secondary;
       padding:0 .5em;
   }
   &:hover{
         > .sub-menu {
/*             display:block;*/
             opacity:1;
             top:1.5*$vertical-spacing;
         }
       }
   &.menu-item-has-children > a:after{
       @include icon-style ("\f0d7", 0, 1, .5em, 1em);
       color:$brand-secondary;
   }
   > .sub-menu {
/*       display:none;*/
       opacity:0;
       min-width:10vW;
       position:absolute;
       top:2.5*$vertical-spacing;
       background:rgba(0,0,0,.75);
       z-index:10;
       @include box-shadow-green;
       padding:0 2rem;
       @include transition(all 0.2s ease-in-out);
       .sub-menu {
           left:$outer-grid;
       }
   }
}
.pagination{
        @include display(flex);
        @include justify-content(center);
        *{
            padding:.5em;
            display:inline-block;
            border-left:1px solid $border-color;
            line-height:1;
            &:first-child{border:0;}
        }
        a{color:$brand-secondary;}
        span{color:$text-color;}
}
/*.menu-item{


    &.menu-item-has-children.current_page_item{
        #mainNav &, #offMenu & {
                    > a:after{
            content: "\f0d7";
        }
        }

    }
     ende icons 
    &.current-page-ancestor{
        > a {
            background:$brand-primary;
            color:lighten($brand-primary,100%);
        }
    }
    a{
        &,&:hover{
            text-decoration: none;
        }
        @media screen and (max-width:$screen-pad){
            padding:1em;
            display:block;
            border-bottom:1px solid currentColor;
        }
        @media screen and (min-width:$screen-pad + 1) and (max-width:$screen-md){
            padding-left:0;
            padding-right:0;
        }
    }
}
ul[class*='menu']{
    padding-left: 0;
    list-style: none;
    #offMenu > & {
        margin-top:10vH;
    }
}
.footer-menu ul.sub-menu{
    display:block;
}
#mainNav .menu-item ,#offMenu .menu-item{
    & > .sub-menu{
        display:none; 
    }
}
#mainNav{
    
    border-bottom:1px solid $dark-gray;
    .menu-item{
        position:relative;
        &:hover{
            > .sub-menu{
                z-index:9; 
            } 
        }
    }
    ul.nav{
        @media screen and (max-width:$screen-pad){
            display:none;
        }
        @media screen and (min-width:$screen-pad + 1){
            display:block;
        }


        > .menu-item{
            
            &:hover {
                background:$brand-primary;
                > a{
                    color: $white; 
                }
                > .sub-menu{
                    display:block;  
                }
            }
        }
        > .menu-item > .sub-menu{
            min-width:160px;
            position: absolute;
            top:2.8em;
            left:0;
            z-index:100;
            
            li:hover > .sub-menu{
                display: block;
                top: 0;
                left: 100%;
                padding: .5em 0;
                position: absolute;
                a {
                    color:$white !important;
                }
            }

            li.current_page_item{
                background: $brand-secondary;
            }
            a{
                padding: .2em 1em;
                white-space: nowrap;
            }
            @media screen and (min-device-width:$screen-smallPad) and (max-device-width:$screen-pad-landscape) and (orientation:landscape){
                top:4.4em;
            }
        }
    }
    ** Affix **
    &.affix{
        @media screen and (min-width:$screen-pad + 1){
            background: $brand-primary;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }
        @media screen and (min-width:$screen-pad + 1) and (max-width:$screen-md) {
            ul.nav{
                @include outer-container(880px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        @media screen and (min-width:$screen-md + 1) and (max-width:1280px) {
            ul.nav{
                @include outer-container(1100px);
                margin-left: 0;
                margin-right: 0;
            }
        }
        @media screen and (min-width:1400px) {
            ul.nav{
                @include outer-container(1200px);
            }
        }
        *{color: lighten($brand-primary,100%);}
        .affix-logo {
            @media screen and (min-width:$screen-pad + 1){
                @include size(30px);
                display: block;
                float: left;
                margin: 0.5em;
                background: transparent url('../img/logo-only.png') no-repeat center center / cover;
            }
        }
    }
    &.affix-top{
        @media screen and (min-width:$screen-md){
            margin-right:-$outer-grid;
            margin-left:-$outer-grid;
        }
    }
    ** Ende Affix **
}

** Responsive Main Nav ***
.toggle-nav {
    @media screen and (max-width:$screen-pad){
        margin:0;
        display:block;
        position: fixed;
        top:1em;
        right:1em;
        z-index:99999;
    }
    @media screen and (min-width:$screen-pad + 1){
        margin:0 -2em;
    }
    @media screen and (min-width:$screen-pad + 1){
        display:none;
    }
    @media screen and (min-width:$screen-sm) and (orientation:portrait){
        right:2em;
    }
    @include toggle-nav-bar(44px,6px,$brand-primary,lighten($brand-primary,0%));
}
#offMenu{
    @media screen and (max-width:$screen-pad){
        display:block;
    }
    @media screen and (min-width:$screen-pad + 1){
        display:none;
    }
    background: $brand-primary;
    position: fixed;
    top:0;
    left:-100%;
    right:100%;
    z-index: 99999;
    @include transition(all .25s ease-in-out);
    bottom:0;
    overflow:scroll;
    *{color:white !important;}

    &.open{
        left:0;
        @media screen and (max-width:$screen-maxPhone){
            @include transition(all .25s ease-in-out);
            right:5em; 
        }
        @media screen and (min-width:$screen-maxPhone) and (max-width:$screen-pad){
            right:50%; 
        }
    }

    .menu > li > a {
        text-transform: uppercase;
        + .sub-menu > a {
            text-transform: normal;
        }
    }
    .current_page_item > .sub-menu,
    .current-page-parent > .sub-menu,
    .current-page-parent > .sub-menu > .current_page_item > .sub-menu{
        display: block;
    }
    .sub-menu > li > a{
        padding-left: 1em;
        text-transform: none !important;
    }
    .sub-menu > li > .sub-menu > li > a{
        padding-left: 2em;
    }
}


** Service Menu *
.service-links{
    background: $brand-primary;
    padding: 1em;
    *{color: $white;}

    .footer-menu{
        margin: 0;
        li{
            line-height: 2em;
            border: {
                width: 1px 0 0 0;
                style:solid;
                color: currentColor;
            }
            a{
                padding: .5em 0;
                white-space: normal;
                &:hover{
                    color: inherit;
                    background: transparent;
                }
            }
            > ul {
                a:before{
                    @include icon-style ("\f0da", 1em, 1, 0, 1em);
                }
            }
            > ul ul > li > a{
                padding-left: 1.4em;
            }
        }
        > li:first-child{
            border: 0;
        }
    }
}
** Ende Service Menu *
** Footer Links **
#sitemap{
    @media screen and (min-width:$screen-sm){
        margin-left:-40px;
    }
    > ul {
        background: $bg-footer-sitemap;
        padding: 1em;
        * {
            color: $white;
        }
        > li {
            @media screen and (max-width: $screen-smallPad) {
                padding-left: 0;
            }


            > a {
                display: block;
                border-bottom: 1px solid currentColor;
                font-weight: bold;
            }
        }
        > li:last-child > a {
            border: 0;
        }
        .sub-menu{
            margin: .5em 1em;
        }
    }
}
** Ende Footer Links **
** Ende Footer Info **
.footer-info {
    > * {
        margin: 0;
        font-size: smaller;
    }
    * {color: $footer-links !important;}
    * Footer links 
    [id*="menu-footer-links"]{
        @media screen and (min-width: $screen-smallPad) {
            li {
                float: left;
                display: inline-block;
                margin-right: 1em;
                &:last-child{margin: 0;
                }
            }
        }
    }
}
** Footer Logo **
.footer-logo{
    @include svg-scale(30px);
}
** copyright **
.copyright{
    margin: 1em auto 0 auto;
    font-size: smaller;
    text-align: center;
    color: $white;
}
** ende copyright **
** Breadcrumb ***
.breadcrumbs{
    margin: 0.5em 0 2em 0;
    border-bottom: 1px solid $border-color;

    h2.trail-browse{
        display: none;
    }
}
** ende Breadcrumb ***
*** Languages ***
#languages-menu{
    margin: 0;
    z-index: 99999;
    float: none;
    position: fixed;
    background-color:$brand_primary;
    
    * {color:#fff;}

    @media screen and (max-width:$screen-sm){
        left: 0;
        top:0;
    }
    @media screen and (min-width:$screen-md + 1) and (orientation:portrait){
        top:0;
        right: 2em;
        position: absolute;
    }
    @media screen and (min-width:$screen-md + 1) and (orientation:landscape){
        right: 0;
        top:0;
    }

    ul{margin:0;padding:.5em 0;}

    .lang-item{
        list-style:none;
        display:inline-block;
        border-right:1px solid currentColor;
        &:last-child{border:0;}
        a {
            letter-spacing: .05em;
            padding: 0 1em;
            margin:0;
        }
        span{
            width: 0;
            overflow:hidden;
            text-indent: -999999px;
            display: inline-block;
        }
        span:after{
            text-transform: uppercase;
        }
    }
    .lang-item-de a:after{
        content:'DE';
    }
    .lang-item-en a:after{
        content:'EN';
    }
    .lang-item-zh a:after{
        content:'æ–‡';
    }
}

** override Bootstrap **
.nav>li>a:focus,
.nav>li>a:hover{
    background-color: transparent;
}
.nav-tabs > li > a {
    color: $text-color;
}
.nav-tabs.nav-justified>li>a{
    @include border-radius(0);
    border:0;
}
** end override Bootstrap **


body.logged-in.admin-bar {
    #mainNav.affix,#languages-menu{top:32px !important;}
}
.menu-item{
    #offMenu & > a:focus {
        background: red;
    }
    #offMenu ul:not(.sub-menu) & > a{
        padding:1em 1em 1em 2em;
        display:block;
        border-bottom: 1px solid currentColor;

    }
    #offMenu ul:not(.sub-menu) > & > a{
        text-transform: uppercase;
        font-weight:bold;
    }
    #offMenu & {
        &:not(.menu-item-has-children) > a {
            margin-left: .5em;
        }
        &.menu-item-has-children > a:before {
            @include icon-style ("\f0da", 0, 1, -1em, inherit);
            margin-right:14px;
        }
        &.menu-item-has-children > a:before{
            @include icon-style ("\f0da", 0, 1, -1em, inherit);
        }
        &.current_page_item.menu-item-has-children > a:before,
            &.current-page-ancestor.menu-item-has-children > a:before{
            @include icon-style ("\f0d7", 0, 1, -1em, inherit);
        }
    }

}
.sub-menu{
    display:none;
    
    &.show,
    .current_page_item.menu-item-has-children &,
    .current_page_ancestor &{
        display:block;
    }
}
*/